.App {
  text-align: center;
}

.App-title {
  text-align: center;
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
  margin-left: 20px;
}

.buycurrencies {
  position: absolute;
  top: 200px;
  right: 50px;
}

.sellcurrencies {
  position: absolute;
  top: 250px;
  right: 50px;
}

.convertcurrencies {
  position: absolute;
  top: 300px;
  right: 50px;
}

.buycurrencies-button {
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
}

.sellcurrencies-button {
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
}
.convertcurrencies-button {
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
}

.modal {
    margin-top: 0px;
    line-height: 1.5em;
    display: inline-block;
    position: fixed;
    font-size: 16px;
    left: 25%;
    height: 80%;
    width: 50%;
    border-radius: 30px;
    color: #2c6c68;
    background-color: lightblue;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 20px 20px 0 rgba(0,0,0,0.19);
    padding-bottom: 10px;
    margin-bottom: 10px;

}
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}


.App-footer {
  position: fixed;
  flex:0.1;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  flex: row;
  text-align: center;
  color: white;
  height: 60px;
}

.usercomponent {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.homepage-button {
  position: absolute;
  right: 3%;
  margin-top: 38px;
}

.chart {
  margin-bottom: 80px;
}

.signup-button {
  vertical-align: 10px;
  margin-left: 1100px;
  margin-top: 0px;
}

.updateetherium-button {
  margin-bottom: 100px;
}

.updateuser-button {
  margin-right: 0px;
  margin-top: 0px;
}
.deleteuser-button {
  margin-right: 0px;
  margin-top: 0px;
}